@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&display=swap');
* {
    font-family: "Josefin Sans";
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: 300;
    box-sizing: border-box;
}
:root{
    --primary: #F49300
    --primary-light: #ffc266
    --secondary: #F9F9F9
}